 .h2 {
 width: 84%;
text-align: center;
margin-left: 10%;   
background-color: silver;
padding-top: 40px;
padding-bottom: 40px;
text-indent: 50px;
text-transform: uppercase;
border-radius: 5px;
border: 2px solid ;
}

.input {

    width: 30%;
    height: auto;
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
}

.forma {

    width: 80%;
    text-align: center;
    margin-left: 10%;
    background-color: silver;
    padding: 20px;
    border: 2px solid #000000;
    margin-top: 5px;
   
}

.button {
    width: 30%;
    background-color: #6d233f;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
    margin-top: 30px;
}

.button:hover {
    background-color: #d674b9;
} 

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.loginform {
    padding: 20px;
}

.messages {
    color:rgba(112, 53, 109, 0.664);
    font-size: 16px;
  }
